# cache / outputs (big files)
cache/
outputs/

datasets/openbg_img/raw/
datasets/openbg_img/processed/
datasets/openbg500/raw/
datasets/openbg500/processed/

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# pytorch artifacts
*.pt
*.ckpt

# logs
*.log

# OS
.DS_Store
Thumbs.db

# macOS junk folders
__MACOSX/

