# data and artifacts (big files)
data/cache/*
!data/cache/openbg500/
!data/cache/openbg_img/
data/cache/openbg500/**
!data/cache/openbg500/.gitkeep
data/cache/openbg_img/**
!data/cache/openbg_img/.gitkeep

ml/artifacts/outputs/*
!ml/artifacts/outputs/openbg_img_gated/
!ml/artifacts/outputs/results/
ml/artifacts/outputs/openbg_img_gated/*
!ml/artifacts/outputs/openbg_img_gated/.gitkeep
ml/artifacts/outputs/results/**
!ml/artifacts/outputs/results/.gitkeep

data/datasets/*
!data/datasets/openbg_img/
!data/datasets/openbg500/
data/datasets/openbg_img/*
!data/datasets/openbg_img/raw/
!data/datasets/openbg_img/processed/
data/datasets/openbg500/*
!data/datasets/openbg500/raw/
!data/datasets/openbg500/processed/
data/datasets/openbg_img/raw/**
!data/datasets/openbg_img/raw/.gitkeep
data/datasets/openbg_img/processed/**
!data/datasets/openbg_img/processed/.gitkeep
data/datasets/openbg500/raw/**
!data/datasets/openbg500/raw/.gitkeep
data/datasets/openbg500/processed/**
!data/datasets/openbg500/processed/.gitkeep

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# pytorch artifacts
*.pt
*.ckpt

# logs
*.log

# OS
.DS_Store
Thumbs.db

# macOS junk folders
__MACOSX__/
